Changing TTL on RRset with multiple records should be more intuitive

### PDA version

0.4.1

### Python version

3.0

### Steps to Reproduce

1. Create 3 different TXT records, all on the base domain (@) with some random text, then apply and refresh.
2. Now change the TTL on the first of these, then save and apply
3. Notice how they have all changed (may need a refresh)
4. Now change the TTL any of the other records (anyone but the first), then save and apply
5. Notice how they have all NOT changed

### Expected Behavior

Changing a TTL for any of the records in a large RRset, should result in all records being updated.

### Observed Behavior

In order to change the TTL for a large RRset, I have to manually select the first record of the RRset from the list, then update that, or it will not work.

Please read [RFC 2181, section 5.2](https://www.rfc-editor.org/rfc/rfc2181#section-5.2): 

> Consequently the use of differing TTLs in an RRSet is hereby deprecated, the TTLs of all RRs in an RRSet must be the same.

PowerDNS (or even existing PowerDNS-Admin code) will ensure that the RFC is respected. This is hence not a bug but a desired feature.

The problem is not that we can't have differing TTLs on RRs in the same RRset - this makes perfect sense. But we need to be able to change the TTL for the entire RRset by changing the TTL on any of the RRs that the GUI lists for us.

It would of course be possible to redesign the GUI to make it a bit more obvious, that the TTL is bound to the entire RRset to begin with, but I wouldn't know how to lay that out properly. Making sure that the TTL for the RRset can be changed by changing the TTL on *any* of it's RRs will probably be fine.

It is clearly an error that this works when changing TTL on one RR but not when changing it on another.

/Thomas

On 10/08/2023 12.31, Guillaume-Jean Herbiet wrote:

Please read RFC 2181, section 5.2<https://www.rfc-editor.org/rfc/rfc2181#section-5.2>:

Consequently the use of differing TTLs in an RRSet is hereby deprecated, the TTLs of all RRs in an RRSet must be the same.

PowerDNS (or even existing PowerDNS-Admin code) will ensure that the RFC is respected. This is hence not a bug but a desired feature.

—
Reply to this email directly, view it on GitHub<https://github.com/PowerDNS-Admin/PowerDNS-Admin/issues/1645#issuecomment-1673336026>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ACK572U4OCR2WAH3NU3ATPTXUTWE7ANCNFSM6AAAAAA3LM7MPA>.
You are receiving this because you authored the thread.Message ID: ***@***.***>


BTW, the original wording of this ticket indicated that the problem was exactly what Guillaume-Jean Herbiet has indicated, is how it's supposed to work... I tried to clean it up afterwards to make sure it addresses the actual issue.

Still an issue

@tmuncks thank you for taking the time to document this. Unfortunately, this is simply not a priority for the project right now as there are too many other issues that aren't addressed.

The priority thing is fair, but closing the ticket is not. It's a confirmed bug and not resolved, so it needs to remain open. Who knows, somebody might decide to fix it - I might decide to fix it. But it needs to remain open so it's not forgotten.

@tmuncks I understand the view you're taking, but it would seem you haven't read the contribution guidelines of the project so perhaps you should review those again before making such assertions. If you noticed, I use a lot of tags to manage this information so closing the issue is not a problem as I know it's there, and it's tagged appropriately. Per the contribution guidelines, someone is not welcome to just show up with an unplanned PR without prior approval by a project maintainer on the associated issue.

The reality is, it will likely not get addressed before this version of the application is totally scrapped. If you hadn't noticed, the code base is atrocious and it single-handled the primary reason that project progress has taken an incredible hit to productivity and motivation. It's hard to even upgrade dependencies in this project, without opening all sorts of new issues. At this point, given the overwhelming lack of quality contributions (just the realistic nature of non-devs trying to do dev work), this project doesn't have even nearly enough help to get the current code base on a solid track to a stable future, hence the plans of `pda-next` to solve that issue.

I realize this issue is important to you, but we have a mile long list of issues that are also important to each person that raised them. I rarely observe community members fully recognizing the big picture here and taking into consideration the challenges the project faces with the state of the code base. So as nicely as this can be said, please don't tell me how to manage the project.

@tmuncks I appreciate that follow up more than you may realize. I've been getting a lot of flack from some community members this year who have a lot of strong input on matters that they have had zero involvement in, so you could say my defensive wall is built quite high right now.

With that being said, don't let appearances fool you. I wish I could tell you that `pda-next` is very far along, but it's not. If I just get a good chunk of time and do it my way, there would be no reason I couldn't whip out an MVP in a reasonable amount of time. I just don't think life is going to permit such progress again for awhile unfortunately. I'm heavily considering taking the next-gen app private and just doing it all myself to get the MVP established as I can rely on myself, just not others.